<html>
    <head>
        <title>Main</title>
    </head>
    <body>
        
        <form action="/check" method="POST">
            Nome:</br>
            <input type="text" name="nome" /></br>
            Data de Nascimento:</br>
            <input type="date" name="data_nascimento" /></br></br>
            <button type="submit">Enviar</button>
        </form>

    </body>
</html>