<html>
    <head>
        <title>Major</title>
    </head>
    <body>
        Parabéns {{ nome }} , você tem mais que 18 anos.</br>
        Você {{ nome }} tem {{ idade }} anos e é considerado de maior.
    </body>
</html>