<html>
    <head>
        <title>Minor</title>
    </head>
    <body>
       Que pena {{ nome }}, você tem menos que 18 anos 
       Você {{ nome }} tem {{ idade }} anos e é considerado de menor.


    </body>
</html>